mixin nav(user, route)
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.request(href='/') BonanzaAlgorithmsCatalogue
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=(route === '/' ? 'active' : ''))
                        a.request(href='/') Home
                    li(class=(route === '/catalogue' ? 'active' : ''))
                        a.request(href='/catalogue/categories') Categories
                    li(class=(route === '/tasks' ? 'active' : ''))
                        a(href='/tasks') Tasks
                    if(user && user.role === 'admin')
                        li(class=(route === '/admin' ? 'active' : ''))
                            a(href='/admin') Admin
                ul.nav.navbar-nav.navbar-right
                    if (user)
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                span.glyphicon.glyphicon-user
                                span#current-username   #{user.username}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a.request(href='/users/#{user.username}')
                                        i.fa.fa-fw.fa-user
                                        |  Profile
                                li
                                    a.request(href='/chat')
                                        i.fa.fa-fw.fa-envelope
                                        |  Chat
                                li
                                    a.request(href='/users/#{user.username}/settings')
                                        i.fa.fa-fw.fa-gear
                                        |  Settings
                                li.divider
                                li
                                    a.request(href='/auth/logout')
                                        i.fa.fa-sign-out
                                        |  Log Out
                    else
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown', href='#')
                                span.glyphicon.glyphicon-user
                                |  Sign In
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a.request(href='/auth/login')
                                        i.fa.fa-fw.fa-sign-in
                                        |  Log In
                                li
                                    a.request(href='/auth/register')
                                        i.fa.fa-fw.fa-user
                                        |  Register
                                li.divider
                                li.dropdown-header
                                    i.fa.fa-fw.fa-arrow-down
                                    |  Login With
                                li.divider
                                li
                                    a.request(href='/auth/facebook')
                                        i.fa.fa-fw.fa-facebook
                                        |  Facebook
                                li
                                    a.request(href='/auth/google')
                                        i.fa.fa-fw.fa-google-plus
                                        |  Google+
                                li
                                    a.request(href='/auth/twitter')
                                        i.fa.fa-fw.fa-twitter
                                        |  Twitter
