!= messages('_shared/mixins/flash', locals)

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title

        link(rel='icon' href='/public/img/favicon.ico')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css')
        link(rel='stylesheet', href='/public/css/style.css')
        block css

        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js")
        script(type='text/javascript' src='https://use.fontawesome.com/38e386af6b.js')
        script(type='text/javascript' src='/public/js/loader.js')
        if ENV_DEVELOPMENT
            script(src='http://localhost:35729/livereload.js')
        block js

    body
        block navigation
        block breadcrump
        .container-fluid
            block content
            
            .circle-loader
                .checkmark.draw