extends _shared/base/layout
include _shared/mixins/navigation

block css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css')

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/validator/8.0.0/validator.min.js")
    script(src='/public/js/requester.js')
    script(src='/public/js/admin.js')
    script(src='/public/js/categories.js')

block navigation
    +nav(user, '/admin')

block content
    h1.text-center Admin Panel
    .collapse-group
        .controls
            button.btn.btn-primary.open-button(type='button')
                | Open all
            button.btn.btn-primary.close-button(type='button')
                | Close all
        .panel.panel-default
            #headingOne.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                        | Add Task
            #collapseOne.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingOne')
                .panel-body
                    form.container(action='/admin/task' id='taskform' method='post')
                        .col-md-2
                            .col
                                label Name:
                                    input#name(type='text', required='required', name='name')
                            .col
                                label Timelimit:
                                    input#timelimit(type='text', placeholder='in ms' required='required', name='timelimit')
                            .col
                                label Memory Limit:
                                    input#memorylimit(type='text', placeholder='in MB' required='required', name='memorylimit')
                        .col-md-3
                            .col
                                label Description:
                                    textarea#description(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='description')
                        .col-md-3
                            .col                        
                                label Input:
                                    textarea#input(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='input')
                        .col-md-3
                            .col
                                label Result:
                                    textarea#result(form='taskform' wrap='hard' rows='7' cols='25' required='required', name='results')
                        .col-md-1
                            .col
                                label Tags:
                                    select#tags.selectpicker(multiple data-live-search='true' mobile='true' width='auto')
                                        option(data-token='#data-structures') Data Structures
                                        option(data-token='#recursion') Recursion
                                        option(data-token='#combinatorics') Combinatorics
                                        option(data-token='#sorting-algorithms') Sorting Algorithms
                                        option(data-token='#searching-algorithms') Searching Algorithms
                                        option(data-token='#trees-and-traversals') Trees and Traversals
                                        option(data-token='#graph-algorithms') Graph Algorithms
                                        option(data-token='#greedy-algorithms') Greedy Algorithms
                                        option(data-token='#dynamic-programming') Dynamic Programming
                                        option(data-token='#string-algorithms') String Algorithms
                            .col
                                button#add.btn.btn-primary(type='button') Add Input/Result
                            .col
                                input#submit.btn.btn-primary(type='button', value='Post Task')
        .panel.panel-default
            #headingTwo.panel-heading(role='tab')
                h4.panel-title
                    a.trigger.collapsed(role='button', data-toggle='collapse', href='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                        | Add Category
            #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                .panel-body
                    form
                        .form-group
                            label(for='category-name') Category name:
                            input#category-name.form-control(type='text')
                        .form-group
                            label(for='summary') Summary:
                            textarea#summary.form-control(rows='5')
                        button#add-category.btn.btn-default(type='button') Add Category
