extends _shared/base/layout
include _shared/mixins/navigation
include _shared/mixins/breadcrump

block css
    link(rel="stylesheet" href="/public/css/chat.css")
block js
    script(src='/libs/socket.io-client/dist/socket.io.js')
    script(src='/public/js/chat.js')

block navigation
    +nav(user)

block breadcrump
    +breadcrump(['Home', 'Chat'])

block content
    .chat_window
        #content.messages
        .bottom_wrapper.clearfix
            .message_input_wrapper
                input#field.message_input(placeholder='Type your message here...')
            .send_message
                .icon
                .text Send
    .message_template
        li.message
            .avatar
            .text_wrapper
                .text
    #user.hidden
        #username #{user.username}
        #user-image #{user.profileImage}
