extends _shared/base/layout
include _shared/mixins/navigation
include _shared/mixins/breadcrump

block css
    link(rel="stylesheet" href="/public/css/chat.css")
block js
    script(src='/libs/socket.io-client/dist/socket.io.js')
    script(src='/public/js/chat.js')

block navigation
    +nav(user)

block breadcrump
    +breadcrump(['Home', 'Chat'])

block content
    div#progress-bar.progress.hidden
        div.progress-bar.progress-bar-info(role="progressbar" aria-valuemin="0" aria-valuemax="100")
    div#photo-container
        h6 "Upload a different photo..."
        input#photo-selector(name="file" type="file" class="upload_field text-center center-block well well-sm")
    .chat_window
        #content.messages
        .bottom_wrapper.clearfix
            .message_input_wrapper
                input#field.message_input(placeholder='Type your message here...')
            .send_message
                .icon
                .text Send
    .message_template
        li.message
            .avatar
            .text_wrapper
                .text
