extends layout

block content
    h1 
        | #{task.name}
    form(action='/compiler/' + task._id, method='post')
        div
            label Input:
            input.text(type='text', name='input')
        div
            input.button(type='submit', value='Post')
        