extends layout

block content
    h1 
        | #{task.name}
    form(id='compilerform' action='/compiler/' + task._id, method='post')
        div
            label Input:
                textarea(form='compilerform' wrap='hard' rows=10 cols=50 required='required' name='input')
                
        div
            input(type='submit', value='Post')
        