extends layout

block content
    form(action='/compiler', method='post')
        div
            label Input:
            input.text(type='text', name='input')
        div
            input.button(type='submit', value='Post')