extends _shared/base/layout
include _shared/mixins/navigation

block navigation
    +nav(user, '/')

block content
    h1= message
    h2= error.status
    if ENV_DEVELOPMENT
        pre #{error.stack}
