extends layout
include navigation

block navigation
    +nav()

block js
    script(src='http://cdn.rawgit.com/h2non/jsHashes/master/hashes.js')
    script(src='/public/js/login.js')

block content
    div.fb-like(data-share="true" data-width="450" data-show-faces="true")
    form(action='/auth/login', method='post')
        div
            label Username:
            input(type='text', name='username')
        div
            label Password:
            input(type='password', name='password')
        div
            input(type='submit', value='Log In')
            